<% include partials/_header %>

<div class= "">
	<div class = "row mt-5">
		<div class="col-md-7">
			<table class= "table table-bordered table-hover">
			<thread>
				<tr>
					<th>n°</th>
					<th>Titulo</th>
					<th>Observaciones</th>
					<th>Fecha</th>
					<th>Acciones</th>
				</tr>
			</thread>
			<tbody>
				<% if (data) { %>
					<% for (var i=0; i <data.length; i++){ %>
						<tr>
							<td> <%= (i+1) %></td>
							<td><%= data[i].titulo %></td>
							<td><%= data[i].observaciones %></td>
							<td><%= data[i].fecha_observaciones %></td>
							
							
							<td> <a href="/deleteTema/<%= data[i].id_tema %>" class="btn btn-danger">Eliminar</a>
							<a href="/updateTema/<%= data[i].id_tema %>/<%=data[i].id_alumno %>" class="btn btn-info">Actualizar</a>
							<a href="/observaciones/<%= data[i].id_tema %> %>" class="btn btn-info">Nueva Observacion</a>
							</td>
						</tr>
					<% } %>

				<% } %>
			</tbody>
			</table>

		</div>

		<div class="col-md-5">
			<div class="card">
				<div class="card-body">
					<form action="/saveTema" method= "post">
				<div class= "form-group">
					<input type="text" name="titulo" placeholder ="Titulo" class = "form-control">
				</div>
				<div class= "form-group">
					<input type="text" name="observaciones" placeholder ="Observaciones" class = "form-control">
				</div>
				<div class= "form-group">
					<input type="hidden" name="fecha_observaciones" value=<%= 
					date= new Date(Date.now()).toISOString();
					%>>
				</div>
				<div class= "form-group">
					<input type="hidden" name="id_alumno" value=<%= 
					id_alumno
					%>>
				</div>
				<button type="submit" class="btn btn-primary">
				Guardar
				</button>
		</form>
				</div>
			</div>

		</div>

	</div>
</div>

<% include partials/_footer %>